/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*Poulina and Jon you can add all your custom CSS below here
  Make sure to comment what each selector does as well
*/

@media screen and (min-width: 992px) {
    .thumbnail {
        min-height: 380px;
    }

    .prod {
        min-height: 450px;
    }

    .prod-caption {
        height: 50px;
    }
}

@media screen and (max-width: 786px) {

    .prod-caption {
        height: 40px;
    }
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.float-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Move the price to the right of the div*/
.price {
    float: right;
    padding-right: 4px;
}

/*Product details*/

footer {
    margin: 50px 0;
}

.padd1 {
    padding-right: 5px;
}

/*new css*/

.navbar {
    padding-top: 17px;
    padding-bottom: 6px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

.nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


/* Navbar styling */

.navbar-default {
  background-color: #525252;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #21bce3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #21bce3;
}
.navbar-default .navbar-nav > li > a {
  color: #21bce3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #21bce3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #21bce3;
}
.navbar-default .navbar-link {
  color: #21bce3;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #21bce3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}